<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Products List</title>
    <style type="text/css">
        body{
            width: 30rem;
            margin-left: auto;
            margin-right: auto;
        }
        .prodList{
            border: solid 1px black;
            padding: 1rem;
        }
        .prodItem{
            padding: 0.3rem;
            border-bottom: solid 1px black;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .prodName{
            float: left;
            width: 35%;
            text-align: center;
        }
        .prodCount{
            width: 30%;
        }
        .payBtn{
            width: 20%;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <h1>상품 리스트</h1>
        <div class="prodList" >
            <div class="prodItem">
                <div class="prodName">
                    상품 1
                </div>
                    <input type="number" class="prodCount">
                    <button class="payBtn" >결제하기</button>
            </div>
            
        </div>
    </div>
        
</body>
</html>